<!DOCTYPE html>
<head>

<h1>Sign Up</h1>

	<form action="/signup" method="post">
	<input type="text" name="username" placeholder="Username" class="form-control" required autofocus>
	<br>
	<input type="text" name="password" placeholder="Password" class="form-control" required><br>
	<input type="submit" value="Sign Up" class="btn btn-primary btn-block">
	</form>

</head>
<footer>
</footer>
